<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project_login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>login verification</description>
    <display-name>login_servlet</display-name>
    <servlet-name>login_servlet</servlet-name>
    <servlet-class>login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_servlet</servlet-name>
    <url-pattern>/login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout_servlet</display-name>
    <servlet-name>logout_servlet</servlet-name>
    <servlet-class>logout_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout_servlet</servlet-name>
    <url-pattern>/logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>db_prompt_servlet</display-name>
    <servlet-name>db_prompt_servlet</servlet-name>
    <servlet-class>db_prompt_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>db_prompt_servlet</servlet-name>
    <url-pattern>/db_prompt_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teacher_login_servlet</display-name>
    <servlet-name>teacher_login_servlet</servlet-name>
    <servlet-class>teacher_login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacher_login_servlet</servlet-name>
    <url-pattern>/teacher_login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_redirection_servlet</display-name>
    <servlet-name>Student_redirection_servlet</servlet-name>
    <servlet-class>Student_redirection_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_redirection_servlet</servlet-name>
    <url-pattern>/Student_redirection_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>begin_quiz_servlet</display-name>
    <servlet-name>begin_quiz_servlet</servlet-name>
    <servlet-class>begin_quiz_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>begin_quiz_servlet</servlet-name>
    <url-pattern>/begin_quiz_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submit_answer_servlet</display-name>
    <servlet-name>submit_answer_servlet</servlet-name>
    <servlet-class>submit_answer_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submit_answer_servlet</servlet-name>
    <url-pattern>/submit_answer_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>begin_feedback_servlet</display-name>
    <servlet-name>begin_feedback_servlet</servlet-name>
    <servlet-class>begin_feedback_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>begin_feedback_servlet</servlet-name>
    <url-pattern>/begin_feedback_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>finish_quiz_servlet</display-name>
    <servlet-name>finish_quiz_servlet</servlet-name>
    <servlet-class>finish_quiz_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finish_quiz_servlet</servlet-name>
    <url-pattern>/finish_quiz_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacher_redirection_servlet</display-name>
    <servlet-name>Teacher_redirection_servlet</servlet-name>
    <servlet-class>Teacher_redirection_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher_redirection_servlet</servlet-name>
    <url-pattern>/Teacher_redirection_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create_quiz_servlet</display-name>
    <servlet-name>create_quiz_servlet</servlet-name>
    <servlet-class>create_quiz_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create_quiz_servlet</servlet-name>
    <url-pattern>/create_quiz_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submit_feedbck_answer_servlet</display-name>
    <servlet-name>submit_feedbck_answer_servlet</servlet-name>
    <servlet-class>submit_feedbck_answer_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submit_feedbck_answer_servlet</servlet-name>
    <url-pattern>/submit_feedbck_answer_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_quiz_servlet</display-name>
    <servlet-name>delete_quiz_servlet</servlet-name>
    <servlet-class>teacherpkg.delete_quiz_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_quiz_servlet</servlet-name>
    <url-pattern>/delete_quiz_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insert_question_servlet</display-name>
    <servlet-name>insert_question_servlet</servlet-name>
    <servlet-class>teacherpkg.insert_question_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_question_servlet</servlet-name>
    <url-pattern>/insert_question_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create_feedback_servlet</display-name>
    <servlet-name>create_feedback_servlet</servlet-name>
    <servlet-class>create_feedback_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create_feedback_servlet</servlet-name>
    <url-pattern>/create_feedback_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_feedback_servlet</display-name>
    <servlet-name>delete_feedback_servlet</servlet-name>
    <servlet-class>teacherpkg.delete_feedback_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_feedback_servlet</servlet-name>
    <url-pattern>/delete_feedback_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insert_feedback_question_servlet</display-name>
    <servlet-name>insert_feedback_question_servlet</servlet-name>
    <servlet-class>teacherpkg.insert_feedback_question_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_feedback_question_servlet</servlet-name>
    <url-pattern>/insert_feedback_question_servlet</url-pattern>
  </servlet-mapping>
</web-app>